.table td,
.table th {
  vertical-align: middle !important;
}

.td-bold {
  font-weight: bold;
}

#dia1-tab,
#dia2-tab {
  box-shadow: unset;
  border-radius: 5px 5px 0px 0px;
  color: #f1f1db;
  background: #1cb378;
}

#tabhead {
  color: #f1f1db;
  background: linear-gradient(145deg, #1cb378, #1cb378, #1cb378, #ccb92c);
}

#dia2-tab:not(.active),
#dia1-tab:not(.active),
#dia3-tab:not(.active) {
  color: #757575;
  background: #ebeced;
}

#tabsections {
  color: #f1f1db;
  background: linear-gradient(135deg, #3461ad, #44419b);
}

@media (max-width: 402px) {
#programacaoContent th{
	padding-left: 20 10 20 10;
	font-size: 0.7rem;
}
#programacaoContent td{
	padding-left: 0.6rem;
	
}
}

@media (max-width: 385px) {
#programacaoContent th{
	padding: 18 2 18 2;
	font-size: 0.65rem;
}
#programacaoContent td{
	padding-left: 0.5rem;
}
}

@media (max-width: 378px) {
#programacaoContent th{
	padding: 16 0 16 0;
}
#programacaoContent td{
	padding-left: 0.42rem;
}
}